body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;

}


hr{
    height: 1px;
    background-color: black;
    margin-bottom: 0px;
    padding-top: 0;
}


#thick {
    height: 3px;
    background-color: black;
}

#pinfo {
    text-align: center;
    padding-bottom: 20px;
}